footer {
    max-width: 1100px;
    background-color: rgb(104, 189, 243);
    margin: 20px auto;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
    


    .footer-logo {
        position: relative;
        width: 92px;
        height: 38px;
    }
}