.hero {
    background-image: linear-gradient(to bottom, rgba(225, 148, 122, 0.3), rgba(225, 148, 122, 0.3)), url(../images/hero.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


    .centered-content {
        text-align: center;

        h1 {
            color: white;
            font-family: ProximaRegular;
            font-weight: 400;
            font-size: 60px;
            padding-bottom: 30px;
            padding-top: 75px;
        }

        p {
            font-family: ProximaRegular;
            color: white;
            padding-bottom: 48px;
            font-size: 20px;
            width: 460px;
        }

        button {
            width: 120px;
            height: 40px;
            background-color: rgb(104, 189, 243);
            color: white;
            border: none;
            font-family: ProximaRegular;
            font-size: 15px;
        }
    }
}