.input-wrapper2 {
    max-width: 1100px;
    min-height: auto;
    margin: 0 auto;
    height: 75px;
    display: flex;
    position: relative;


    div {
        width: 150px;
        margin-top: 10px;
        font-family: ProximaRegular;
    }


    .text-field {
        height: 50px;
        width: 871px;
        padding: 10px;
        outline: none;
        box-sizing: border-box;
    }

    .text-field:focus {
        border: 2px solid black;
    }

    .icon {
        position: absolute;
        right: 100px;
        top: 14px;
        margin: 0;
    }
}


@media (max-width: 1120px) {
    .input-wrapper2 {

        .icon {
            margin-right: -30px;
        }
    }
}


@media (max-width: 1120px) {
    .input-wrapper2 {
        padding: 0 30px;
    }
}


@media (max-width: 700px) {
    .input-wrapper2 {
        display: block;
        height: 100px;

        div {
            text-align: center;
            font-size: 20px;
            margin: auto;
        }

        .text-field {
            width: 100%;
        }

        .icon {
            top: 37px;
        }
    }
}