.triple {
    max-width: 1100px;
    min-height: auto;
    margin: 0 auto;
    
    
    .person-details {
        display: flex;
        position: relative;
        justify-content: space-between;
        


        .adult {

            .choice1 {
                width: 70px;
                height: 40px;
                padding: 10px;
                outline: none;
                box-sizing: border-box;
            }
    
    
            .icon {
                position: absolute;
                margin: 12px 0 10px 45px;
            }
        }

        .children {


            .choice2 {
                width: 70px;
                height: 40px;
                padding: 10px;
                outline: none;
                box-sizing: border-box;
            }
    
    
            .icon {
                position: absolute;
                margin: 12px 0 10px 45px;
            }
        }

        .rooms {
            padding-right: 75px;


            .choice3 {
                width: 70px;
                height: 40px;
                padding: 10px;
                outline: none;
                box-sizing: border-box;
            }
    
    
            .icon {
                position: absolute;
                margin: 12px 0 10px 45px;
            }
        }
    }
}

@media (max-width: 1120px) {
    .triple {

        .person-details {

            .adult {
                padding: 0 30px;
            }

            .rooms {
                padding: 0 30px;
            }
        }
    }
}